@import "tailwindcss";

body {
  background: #050505;
  color: white;
  min-width: 1400px;
}

html {
  scroll-behavior: smooth;
}
@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 15s linear infinite;
}
html,
body {
  overflow-x: hidden;
}
body {
  cursor: none;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  opacity: 0.02;
  z-index: 9999;

  background-image:
    radial-gradient(circle, white 1px, transparent 1px);

  background-size: 25px 25px;
}